<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content">

    <section class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Historikus Adatok (Gyertyák)</h2>
            <p>Adja meg az instrumentumot és az időablakot az utolsó 10 adat lekérdezéséhez.</p>

            <form method="post" th:action="@{/forex-histar}" th:object="${param}">
                <div class="fields">

                    <div class="field half">
                        <label for="instrument">Instrumentum</label>
                        <select id="instrument" th:field="*{instrument}" style="color:black;">
                            <option value="EUR_USD">EUR/USD</option>
                            <option value="GBP_USD">GBP/USD</option>
                            <option value="USD_JPY">USD/JPY</option>
                            <option value="USD_CHF">USD/CHF</option>
                        </select>
                    </div>

                    <div class="field half">
                        <label for="granularity">Időablak (Granularity)</label>
                        <select id="granularity" th:field="*{granularity}" style="color:black;">
                            <option value="M1">1 Perc (M1)</option>
                            <option value="H1">1 Óra (H1)</option>
                            <option value="D">1 Nap (D)</option>
                            <option value="W">1 Hét (W)</option>
                            <option value="M">1 Hónap (M)</option>
                        </select>
                    </div>

                </div>

                <ul class="actions">
                    <li><input type="submit" value="Lekérdezés" class="button primary"/></li>
                    <li><a th:href="@{/}" class="button">Vissza a főoldalra</a></li>
                </ul>
            </form>
        </div>
    </section>

</div>

</body>
</html>