<h2>Pozíció nyitása</h2>

<form method="post" th:action="@{/forex-nyit}" th:object="${param}">
    <div class="fields">

        <div class="field">
            <label>Instrumentum</label>
            <select th:field="*{instrument}" style="color:black;">
                <option value="EUR_USD">EUR/USD</option>
                <option value="GBP_USD">GBP/USD</option>
                <option value="USD_JPY">USD/JPY</option>
            </select>
        </div>

        <div class="field">
            <label>Mennyiség (pozitív=LONG, negatív=SHORT)</label>
            <input type="number" th:field="*{units}" style="color:black;" />
        </div>

    </div>

    <ul class="actions">
        <li><input type="submit" value="Pozíció nyitása" class="button primary"/></li>
    </ul>
</form>