<h2>10 utolsó historikus gyertya lekérdezése</h2>

<form method="post" th:action="@{/forex-histar}" th:object="${param}">
    <div class="fields">

        <div class="field">
            <label>Instrumentum</label>
            <select th:field="*{instrument}" style="color:black;">
                <option value="EUR_USD">EUR/USD</option>
                <option value="GBP_USD">GBP/USD</option>
                <option value="USD_JPY">USD/JPY</option>
            </select>
        </div>

        <div class="field">
            <label>Granularity</label>
            <select th:field="*{granularity}" style="color:black;">
                <option value="D">D - Daily</option>
                <option value="H1">H1 - Hourly</option>
                <option value="M15">M15 - 15 perc</option>
            </select>
        </div>

    </div>

    <ul class="actions">
        <li><input type="submit" value="Lekérdezés" class="button primary"/></li>
    </ul>
</form>