<h2>Aktuális ár lekérdezése</h2>

<form method="post" th:action="@{/forex-aktar}" th:object="${par}">
    <div class="fields">

        <div class="field">
            <label>Instrumentum</label>
            <select th:field="*{instrument}" style="color:black;">
                <option value="EUR_USD">EUR/USD</option>
                <option value="GBP_USD">GBP/USD</option>
                <option value="USD_JPY">USD/JPY</option>
            </select>
        </div>

    </div>

    <ul class="actions">
        <li><input type="submit" value="Lekérdezés" class="button primary"/></li>
    </ul>
</form>