<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content">

    <section class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Pozíció Nyitása</h2>
            <p>Vételi (Long) vagy Eladási (Short) pozíció nyitása piaci áron.</p>

            <form method="post" th:action="@{/forex-nyit}" th:object="${param}">
                <div class="fields">

                    <div class="field half">
                        <label>Instrumentum</label>
                        <select th:field="*{instrument}" style="color:black;">
                            <option value="EUR_USD">EUR/USD</option>
                            <option value="GBP_USD">GBP/USD</option>
                            <option value="USD_JPY">USD/JPY</option>
                            <option value="USD_CHF">USD/CHF</option>
                        </select>
                    </div>

                    <div class="field half">
                        <label>Mennyiség (Pozitív=Vétel, Negatív=Eladás)</label>
                        <input type="number" th:field="*{units}" style="color:black;" placeholder="Pl. 10" />
                    </div>

                </div>

                <ul class="actions">
                    <li><input type="submit" value="Pozíció nyitása" class="button primary"/></li>
                    <li><a th:href="@{/}" class="button">Vissza a főoldalra</a></li>
                </ul>
            </form>
        </div>
    </section>

</div>

</body>
</html>