<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content">

    <section class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Aktuális Ár Lekérdezése</h2>
            <p>Válasszon devizapárt a lenyíló listából, hogy megtekintse a pillanatnyi piaci árfolyamot.</p>

            <form method="post" th:action="@{/forex-aktar}" th:object="${par}">
                <div class="fields">
                    <div class="field half">
                        <label for="instrument">Instrumentum</label>
                        <select id="instrument" th:field="*{instrument}" style="color:black;">
                            <option value="EUR_USD">EUR/USD</option>
                            <option value="GBP_USD">GBP/USD</option>
                            <option value="USD_JPY">USD/JPY</option>
                            <option value="USD_CHF">USD/CHF</option> </select>
                    </div>
                </div>

                <ul class="actions">
                    <li><input type="submit" value="Lekérdezés" class="button primary" /></li>
                    <li><a th:href="@{/}" class="button">Vissza a főoldalra</a></li>
                </ul>
            </form>
        </div>
    </section>

</div>

</body>
</html>