<h2>Nyitott pozíciók</h2>

<table>
    <thead>
    <tr>
        <th>Trade ID</th>
        <th>Instrumentum</th>
        <th>Units</th>
        <th>Átlagár</th>
        <th>Profit/Loss</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="t : ${trades.trades}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.instrument}"></td>
        <td th:text="${t.currentUnits}"></td>
        <td th:text="${t.price}"></td>
        <td th:text="${t.unrealizedPL}"></td>
    </tr>
    </tbody>
</table>

<br/>

<ul class="actions">
    <li><a th:href="@{/forex-zar}" class="button">Pozíció zárása</a></li>
</ul>